* {
    font-family: 'Courier New', Courier, monospace;
}

div {
    height: 50px;
    width: 570px;
    background-color: yellow;
    border-width: 2px;
    border-style: solid;
    border-color: black ;
    /*border: 2px solid black;*/
     /*border radius;*/
     border-radius: 20px;
     padding:30px 25px 5px 25px;
     margin: 20px 0px 20px 0px;
    
} 

h1{ height: 40px;
    width: 300px;
    border: 2px solid red;
    border-radius: 20px;
    padding: 1px 30px 1px 30px;
}


button{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(14, 184, 22);
    /*padding: 25px;   ata 4 dik ayy thake*/
    padding: 10px 20px;
} 