*{
    font-family: 'Courier New', Courier, monospace;
}

.card{
    height: 420px;
    width: 300px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px black;
    transition: 1s;

    
}

.des{
    padding:0px 0px 0px 10px;
}

img{
    width: 100%;
    height: 300px;         
    object-fit: cover;     /* crop kore fill korbe */
    object-position: center top;
    border-radius: 5px 5px 0 0;
}


.card:hover{
   box-shadow: 6px 7px 18px black;
}