*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46, 29, 87);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.web_text{
    font-size: 20px;
    color: gray;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

input, select, textarea{
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.address_control{
    grid-column: 1 / span 2;
}

.address_control textarea{
    width: 100%;
}

.apply_button{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    cursor: pointer;
    background-color: rgb(168, 72, 112);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    box-shadow: 2px 2px 5px black;
    transition: 0.3s ease;
}

button:hover{
    background-color: rgb(30, 100, 30);
}

@media (max-width: 600px){
  .address_control{
    grid-column: 1 / -1;
  }
}

