div {
    width: 500px;
    height: 700px;
    background-color: green;
    margin: 100px 10px 10px 300px;
    background-image: url(bgimage.jpg);
    background-size: cover;

}

/*background-size: contain/cover/auto*/
